Lectures/*
Assignements/lab4/wiki-interpolate.3gram.arpa
Assignements/*/__pycache__
Assignements/lab3/tidigits
Assignements/lab3/test_data.npz
Assignements/lab3/train_data.npz
Assignements/lab3/data
Assignements/lab3/runs
*.zip
Assignements/lab3/lmfcc.npz
Assignements/lab3/targets.npz
Assignements/lab3/mspec.npz
Assignements/lab4/train-clean-100.tar.gz
Assignements/lab4/test-clean.tar.gz
Assignements/lab4/dev-clean.tar.gz
Assignements/lab4/LibriSpeech/*

